<!-- 댓글기능(따로 html을 만들어 쓰는게 아니라, recipepage.html 아래에 붙여넣으면 됨) -->
 <!--  -->
    <br><br><hr><!-- 삭제해도 상관X -->


    <h4>댓글 목록</h4>

    <!--댓글읽을 수 있는 부분-->
    {% if comments %}
      <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p><!-- 댓글 몇개있는지 보여줌. -->
    {% endif %}
    <ul><!-- 댓글 쭉 보여줌 -->
      {% for comment in comments %}
        <li>
          {{ comment.user }} - {{ comment.content }}<!-- '댓글 작성자 - 댓글 내용' 형식으로 댓글 나타냄 -->
          <!--댓글 삭제부분-->
          {% if user == comment.user %}
            <form action="{% url 'post:comments_delete' post.pk comment.pk %}" method="POST" class="d-inline"><!-- 폼 건들지 말것. 클래스는 바꿔도 상관없음 -->
              {% csrf_token %}
              <input type="submit" value="DELETE"><!-- 댓글 삭제 버튼 -->
            </form>
          {% endif %}
        </li>
      {% empty %}
        <p>댓글이 없어요..</p><!-- 댓글이 없을 때 나타나는 글 -->
      {% endfor %}
    </ul>
    
    <hr>
    
    <!--댓글 작성부분-->
    {% if request.user.is_authenticated %}
      <form action="{% url 'post:comments_create' post.pk %}" method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}<!-- 댓글 작성 창(p태그로 감싸고 css 입히면 스타일 변경 가능)-->
        <input type="submit" value="댓글 작성"><!-- 댓글 작성 버튼 -->
      </form>
    {% else %}
      <a href="{% url 'login:login' %}">[댓글을 작성하려면 로그인하세요.]</a><!-- 로그인 안하면 댓글작성기능 사용 불가 -->
    {% endif %}
    {% endblock content %}
