<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
</head>
<body>
    <header>
        <div class="logo">
            <span class="blue">냉</span>Jango()
        </div>
        <select id="search-type">
            <option value="all">전체</option>
            <option value="ingredient">재료</option>
            <option value="title">제목</option>
        </select>
        <div class="search-bar">
            <input type="text" placeholder="search">
            <button><img src="search-icon.png" alt="search"></button>
        </div>
            
        <div class="menu-icon">
            <img src="menu-icon.png" alt="menu">
            <div class="dropdown-menu">
                <a href="koreapost.html">한식</a>
                <a href="chinapost.html">중식</a>
                <a href="japanpost.html">일식</a>
                <a href="recipeRegistration.html">레시피 등록</a>
            </div>
        </div>
    </header>
    <h1>&nbsp;&nbsp;MYPAGE</h1>
    <div class="dropdown-mypage">
        <input type="radio" id="my" name="page" value="My.html">
        <label for="my">My</label>
        <input type="radio" id="membership" name="page" value="membership.html">
        <label for="membership">회원정보수정</label>
    </div>
    <div id="content">
        <div class="passkey">
            <label for="passkey">패스 키를 입력해주세요.</label>
            <input type="text" id="passkey" name="passkey" value="">
            <br>
            <button type="submit">확인</button>
        </div>
        <div>
            <h1>내가 작성한 글</h1>
        <ul>
            {% for post in list %}
            <li><a href="{% url 'post:show' post.id %}">{{ post.title }}</a>&nbsp;&nbsp;&nbsp;작성자: {{ post.writer }}</p></li>
            {% endfor %}
        </ul>
        
        <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ list.previous_page_number }}">이전</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in list.paginator.page_range %}
            {% if page_number >= list.number|add:-5 and page_number <= list.number|add:5 %}
            {% if page_number == list.number %}
                <li class="page-item active" aria-current="page">{#구분을 위해  누른 번호가 파랑으로 보임#}
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
            {% endif %}
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ list.next_page_number }}">다음</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
            {% endif %}
        </ul>
        <!-- 페이징처리 끝 -->

            <h1>내가 좋아요한 글</h1>
        <ul>
            {% for post in list %}
            <li><a href="{% url 'post:show' post.id %}">{{ post.title }}</a>&nbsp;&nbsp;&nbsp;작성자: {{ post.writer }}</p></li>
            {% endfor %}
        </ul>
        
        <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ list.previous_page_number }}">이전</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in list.paginator.page_range %}
            {% if page_number >= list.number|add:-5 and page_number <= list.number|add:5 %}
            {% if page_number == list.number %}
                <li class="page-item active" aria-current="page">{#구분을 위해  누른 번호가 파랑으로 보임#}
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
            {% endif %}
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ list.next_page_number }}">다음</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
            {% endif %}
        </ul>
        <!-- 페이징처리 끝 -->

            <h1>내가 댓글 단 글</h1>
        <ul>
            {% for post in list %}
            <li><a href="{% url 'post:show' post.id %}">{{ post.title }}</a>&nbsp;&nbsp;&nbsp;작성자: {{ post.writer }}</p></li>
            {% endfor %}
        </ul>
        
        <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ list.previous_page_number }}">이전</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in list.paginator.page_range %}
            {% if page_number >= list.number|add:-5 and page_number <= list.number|add:5 %}
            {% if page_number == list.number %}
                <li class="page-item active" aria-current="page">{#구분을 위해  누른 번호가 파랑으로 보임#}
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
            {% endif %}
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ list.next_page_number }}">다음</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
            {% endif %}
        </ul>
        <!-- 페이징처리 끝 -->
        </div>
    </div>
</body>
</html>
