<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>회원가입</title>
        {% load static %}
        <link rel="stylesheet" href="{%static 'css/styles-findPW.css' %}">
        
    <script>
        let isLoggedIn = false; 
        function checklogin() {
            if (!isLoggedIn) {
                if (confirm("로그인이 필요합니다.")) {
                    window.location.href = "login.html"; // 로그인 페이지로 이동합니다.
                }
            }
            else{
                window.location.href="recipeRegistration.html";
            }
        };
    </script>
    
        
    </head>

    <body>
        <header>
            <div class="logo">
                <span class="blue">냉</span>Jango()
            </div>
            <select id="search-type">
                <option value="all">전체</option>
                <option value="ingredient">재료</option>
                <option value="title">제목</option>
            </select>
            <div class="search-bar">
                <input type="text" placeholder="search">
                <button><img src="{% static 'image/search-icon.png' %}" alt="search"></button>
            </div>
                
            <div class="menu-icon">
                <img src="{% static 'image/menu-icon.png' %}" alt="menu">
                <div class="dropdown-menu">
                    <a href="koreapost.html">한식</a>
                    <a href="chinapost.html">중식</a>
                    <a href="japanpost.html">일식</a>
                    <a href="infopost.html">공지사항</a>
                    <a onclick="checklogin()">레시피 등록</a>
                </div>
            </div>
            
        </header>
        <br>
        <h2>추가 정보</h2>
       
        <span>선택사항</span>
        <br>

        <br>
        <form method="POST" id="signUp-pt-2" class="login-box">
            {% csrf_token %}

            <div>
                <span>성별</span>
                <select name="gender">
                    <option>여성</option>
                    <option>남성</option>
                </select>
            </div>
            <br>
            <div>
                <span>거주지</span>
                <select name="residence">
                    <option>자취</option>
                    <option>기숙사</option>
                    <option>본가</option>
                </select>
            </div>
            <br>
            <input type="text" placeholder="나이">
            <br>
            <input id="allergy"  type="password" placeholder="알레르기">
            알레르기 : <p id="allergy">{{user_details.allergy}}</p>
            <br>
            
            
            <button type="submit">회원가입</button>
        
        </form>

    </body>
</html>