<!DOCTYPE html>
<html lang="ko">

<head>
    <title>회원가입</title>
    {% load static %}
    {% load bootstrap4 %}
    {% comment %} {% load custom_filters %} {% endcomment %}
    <link rel="stylesheet" href="{%static 'css/styles-findPW.css' %}">

    <script>
        let isLoggedIn = false;
        function checklogin() {
            if (!isLoggedIn) {
                if (confirm("로그인이 필요합니다.")) {
                    window.location.href = "login.html"; // 로그인 페이지로 이동합니다.
                }
            }
            else {
                window.location.href = "recipeRegistration.html";
            }
        };
    </script>

</head>

<body>
    <header>
        <div class="logo">
            <span class="blue">냉</span>Jango()
        </div>
        <select id="search-type">
            <option value="all">전체</option>
            <option value="ingredient">재료</option>
            <option value="title">제목</option>
        </select>
        <div class="search-bar">
            <input type="text" placeholder="search">
            <button><img src="{% static 'image/search-icon.png' %}" alt="search"></button>
        </div>

        <div class="menu-icon">
            <img src="{% static 'image/menu-icon.png' %}" alt="menu">
            <div class="dropdown-menu">
                <a href="koreapost.html">한식</a>
                <a href="chinapost.html">중식</a>
                <a href="japanpost.html">일식</a>
                <a href="infopost.html">공지사항</a>
                <a href="{% url 'post:write' %}">레시피 등록</a>
            </div>
        </div>

    </header>


    <div class="center">

        <h2 class="daily">비밀번호 찾기</h2>
        <br>
        <form method="POST" class="login-box">
            {% csrf_token %}

            <input name="inputID" type="text" placeholder="아이디">
            <br>
            <input name="inputkeyword" type="password" placeholder="패스키">
            <br>
            <input name="new_password1" type="password" placeholder="새 비밀번호">
            <br>
            <input name="new_password2" type="password" placeholder="새 비밀번호 확인">
            <br>
            <button type="submit">비밀번호 변경</button>


        </form>
    </div>

</body>

</html>