<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>중식 게시판</title>
        {% load static %}
        <link rel="stylesheet" href ="{%static 'css/styles-chinapost.css' %}">
        <!-- {% load static %}
        <link rel="stylesheet" href="styles-chinapost.css"> -->
    <script>
        let isLoggedIn = false; 
        function checklogin() {
            if (!isLoggedIn) {
                if (confirm("로그인이 필요합니다.")) {
                    window.location.href = "login.html"; // 로그인 페이지로 이동합니다.
                }
            }
            else{
                window.location.href="recipeRegistration.html";
            }
        };
    </script>
    
       
</head>

<body>
    <header>
        <div class="logo"><a href="{% url 'post:main' %}">
            <span class="blue">냉</span>Jango() </a>
        </div>
        <select id="search-type">
            <option value="all">전체</option>
            <option value="ingredient">재료</option>
            <option value="title">제목</option>
        </select>
        <div class="search-bar">
            <form method="POST" action="{% url 'post:search' %}">
                {% csrf_token %} 
                    <input type="text" placeholder="search" name="searched">
                    <button><img src="{% static 'image/search-icon.png' %}" alt="search"></button>
                </form>
        </div>
            
        <div class="menu-icon">
            <img src="{% static 'image/menu-icon.png' %}" alt="menu">
            <div class="dropdown-menu">
                <a href="{% url 'post:list' category_name='koreapost' %}">한식</a>
                <a href="{% url 'post:list' category_name='chinapost' %}">중식</a>
                <a href="{% url 'post:list' category_name='japanpost' %}">일식</a>
                <a href="infopost.html">공지사항</a>
                <a href="{% url 'post:write' %}">레시피 등록</a>
            </div>
        </div>
        
    </header>

        <h1>중식 게시판</h1>
        <br>
        <br>
        <div class="container">
            <table>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var rows = document.querySelectorAll('tr[data-href]');
                        rows.forEach(function (row) {
                            row.addEventListener('click', function () {
                                window.location.href = this.dataset.href;
                            });
                        });
                    });
                </script>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>작성시간</th>
                        <th>좋아요</th>
                        <th>댓글 수</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in list %}
                    {% comment %} <a href="{% url 'post:show' post.id %}"> {% endcomment %}
                    <tr class="fixed" data-href="{% url 'post:show' post.id %}">                            
                        <td>{{ forloop.counter }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.writer }}</td>
                        <td>{{ post.created_at }}</td>
                        <td>{{ post.like_users.all.count }}</td>
                        <td>{{ post.comment_count }}</td>
                    </tr>
                {% comment %} </a> {% endcomment %}
                    {% endfor %}
                    <!-- 추가적인 레시피 항목들을 필요에 따라 추가할 수 있습니다 -->
                </tbody>
            </table>
        </div>
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ list.previous_page_number }}">이전</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in list.paginator.page_range %}
            {% if page_number >= list.number|add:-5 and page_number <= list.number|add:5 %}
            {% if page_number == list.number %}
                <li class="page-item active" aria-current="page">{#구분을 위해  누른 번호가 파랑으로 보임#}
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
            {% endif %}
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ list.next_page_number }}">다음</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
            {% endif %}
        </ul>
            <!-- 페이징처리 끝 -->
        <a href="{% url 'post:write' %}">글 작성</a>
       
    </body>
</html>