<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>식단 화면</title>
        {% load static %}
        <link rel="stylesheet" href="{%static 'css/styles-main.css' %}">
    <script>
            let isLoggedIn = false; 
            function checklogin() {
                if (!isLoggedIn) {
                    if (confirm("로그인이 필요합니다.")) {
                        
                    }
                }
            };
        </script>
    
       
</head>

<body>
    <header>
        <div class="logo"><a href="{% url 'post:main' %}">
            <span class="blue">냉</span>Jango() </a>
        </div>
        {% if user.is_authenticated %}
            <form method="POST" action="{% url 'post:search' user.id %}">
                {% csrf_token %} 
                    
                <div class="search-bar">
                    <select id="search-type" name="search_select">
                        <option value="전체">전체</option>
                        <option value="제목">제목</option>
                        <option value="재료">재료</option>
                    </select>
                    <input type="text" placeholder="search" name="searched">
                    <button><img src="{% static 'image/search-icon.png' %}" alt="search"></button>
                </div>
            </form>
    
            {% else %}
            <form method="POST" action="{% url 'post:outsearch'%}">
            {% csrf_token %} 
                
                <div class="search-bar">
                    <select id="search-type" name="search_select">
                        <option value="전체">전체</option>
                        <option value="제목">제목</option>
                        <option value="재료">재료</option>
                    </select>
                    <input type="text" placeholder="search" name="searched">
                    <button><img src="{% static 'image/search-icon.png' %}" alt="search"></button>
                </div>
            </form>
            {%endif%}
            
        <div class="menu-icon">
            <img src="{% static 'image/menu-icon.png' %}" alt="menu">
            <div class="dropdown-menu">
                <a href="{% url 'post:list' category_name='koreapost' %}">한식</a>
                <a href="{% url 'post:list' category_name='chinapost' %}">중식</a>
                <a href="{% url 'post:list' category_name='japanpost' %}">일식</a>
                <a href="{% url 'post:noticelist' %}">공지사항</a>
                <a href="{% url 'post:write' %}">레시피 등록</a>
            </div>
        </div>
        
    </header>
        
        <h1>한식</h1>
        <div class="diet">
            <div class="diet-item">
                <h2>식단 1</h2>
                <p>식단 설명 1...</p>
            </div>
            <div class="diet-item">
                <h2>식단 2</h2>
                <p>식단 설명 2...</p>
            </div>
            <div class="diet-item">
                <h2>식단 3</h2>
                <p>식단 설명 3...</p>
            </div>
        </div>
    </body>
</html>
