<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>한식 게시판</title>
        {% load static %}
        <link rel="stylesheet" href="{%static 'css/styles-koreapost.css' %}">
    
    <script>
        let isLoggedIn = false; 
        function checklogin() {
            if (!isLoggedIn) {
                if (confirm("로그인이 필요합니다.")) {
                    window.location.href = "login.html"; // 로그인 페이지로 이동합니다.
                }
            }
            else{
                window.location.href="recipeRegistration.html";
            }
        };
    </script>
    
        
</head>

<body>
    <header>
        <div class="logo"><a href="{% url 'post:main' %}">
            <span class="blue">냉</span>Jango()</a>
        </div>
        <select id="search-type">
            <option value="all">전체</option>
            <option value="ingredient">재료</option>
            <option value="title">제목</option>
        </select>
        <div class="search-bar">
            <input type="text" placeholder="search">
            <button><img src="{% static 'image/search-icon.png' %}" alt="search"></button>
        </div>
            
        <div class="menu-icon">
            <img src="{% static 'image/menu-icon.png' %}" alt="menu">
            <div class="dropdown-menu">
                <a href="koreapost.html">한식</a>
                <a href="chinapost.html">중식</a>
                <a href="japanpost.html">일식</a>
                <a href="infopost.html">공지사항</a>
                <a onclick="checklogin()">레시피 등록</a>
            </div>
        </div>
        
    </header>
        <h1>한식 게시판</h1>
        <h1>목록</h1>
    <ul>
        {% for post in list %}
        <li><a href="{% url 'post:show' post.id %}">{{ post.title }}</a>&nbsp;&nbsp;&nbsp;작성자: {{ post.writer }}</p></li>
        {% endfor %}
    </ul>
    
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ list.previous_page_number }}">이전</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in list.paginator.page_range %}
        {% if page_number >= list.number|add:-5 and page_number <= list.number|add:5 %}
        {% if page_number == list.number %}
            <li class="page-item active" aria-current="page">{#구분을 위해  누른 번호가 파랑으로 보임#}
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ list.next_page_number }}">다음</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->

    <a href="{% url 'post:write' %}">글 작성</a>
    </body>
</html>