<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>냉jango()</title>
        {% load static %}
        <link rel="stylesheet" href ="{%static 'css/styles-main.css' %}">

        <script>
            let isLoggedIn = false; 
            function checklogin() {
                if (!isLoggedIn) {
                    if (confirm("로그인이 필요합니다.")) {
                        
                    }
                }
            };
        </script>
        {% comment %} window.location.href="recipeRegistration.html"; {% endcomment %}
        
    </head>

    <body>
        <header>
            <div class="logo"><a href="{% url 'post:main' %}">
                <span class="blue">냉</span>Jango() </a>
            </div>
            
            {% if user.is_authenticated %}
            <form method="POST" action="{% url 'post:search' user.id %}">
                {% csrf_token %} 
                    
                <div class="search-bar">
                    <select id="search-type" name="search_select">
                        <option value="전체">전체</option>
                        <option value="제목">제목</option>
                        <option value="재료">재료</option>
                    </select>
                    <input type="text" placeholder="search" name="searched">
                    <button><img src="{% static 'image/search-icon.png' %}" alt="search"></button>
                </div>
            </form>
    
            {% else %}
            <form method="POST" action="{% url 'post:outsearch'%}">
            {% csrf_token %} 
                
                <div class="search-bar">
                    <select id="search-type" name="search_select">
                        <option value="전체">전체</option>
                        <option value="제목">제목</option>
                        <option value="재료">재료</option>
                    </select>
                    <input type="text" placeholder="search" name="searched">
                    <button><img src="{% static 'image/search-icon.png' %}" alt="search"></button>
                </div>
            </form>
            {%endif%}
                
            <div class="menu-icon">
                <img src="{% static 'image/menu-icon.png' %}" alt="menu">
                <div class="dropdown-menu">
                    <a href="{% url 'post:list' category_name='koreapost' %}">한식</a>
                    <a href="{% url 'post:list' category_name='chinapost' %}">중식</a>
                    <a href="{% url 'post:list' category_name='japanpost' %}">일식</a>
                    <a href="{% url 'post:noticelist' %}">공지사항</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'post:userlist' %}">사용자 게시판</a>
                    <a href="{% url 'post:write' %}">레시피 등록</a>
                    {% else %}
                    <a href="javascript:void(0);" onclick="checklogin()">사용자 게시판</a>
                    <a href="javascript:void(0);" onclick="checklogin()">레시피 등록</a>

                    {% endif %}
                    
                </div>
            </div>
            
        </header>

        <main>
            <section class="daily-and-login">
                <section class="daily-recipe">
                    <br>
                    <h2>DAILY ♡</h2>
                    <br>
                    <div class="recipe-card">
                        
                        <a href="{% url 'post:show' post_id=context_daily.post1.id %}"><h3>{{ context_daily.post1.title }}</h3></a>
                        <div class="likes">
                            <img src="{% static 'image/like-icon.jpg' %}" alt="Like">
                            <span class="likenum">{{ context_daily.post1.like_users.count }}</span>
                        </div>
                        <br>
                        <img src="{% if context_daily.image1 %}{{ context_daily.image1.image.url }}{% else %}{% static 'image/recipe-image.png' %}{% endif %}" alt="Image">
                        <br>

                    </div>

                    <div class="recipe-card">
                        
                        <a href="{% url 'post:show' post_id=context_daily.post2.id %}"><h3>{{ context_daily.post2.title }}</h3></a>
                        <div class="likes">
                            <img src="{% static 'image/like-icon.jpg' %}" alt="Like">
                            <span class="likenum">{{ context_daily.post2.like_users.count }}</span>
                        </div>
                        <br>
                        <img src="{% if context_daily.image2 %}{{ context_daily.image2.image.url }}{% else %}{% static 'image/recipe-image.png' %}{% endif %}" alt="Image">
                        <br>

                    </div>
                    <br>
                    <div class="recipe-card">
                        <a href="{% url 'post:show' post_id=context_daily.post3.id %}"><h3>{{ context_daily.post3.title }}</h3></a>                    
                        <div class="likes">
                            
                            <img src="{% static 'image/like-icon.jpg' %}" alt="Like">
                            <span class="likenum">{{ context_daily.post3.like_users.count }}</span>
                        </div>
                        <br>
                        <img src="{% if context_daily.image3 %}{{ context_daily.image3.image.url }}{% else %}{% static 'image/recipe-image.png' %}{% endif %}" alt="Image">
                        <br>

                    </div>

                </section>
            
                <aside class="login-box">

                    <!--로그인후-->
                    {% if user.is_authenticated %}
                    <div class="user-info-section">
                        <div class="box1">
                            <h2>PROFILE</h2>
                            <p id="user-id">아이디: {{user}}</p>
                            <p id="user-gender">성별: {{user_detail.get_gender_display}}</p>
                            <p id="user-posts">게시글 수: {{ post_count }}</p>
                            <a href="{% url 'post:mypage' user.id %}"><button>마이페이지</button>
                        
                            <a href="{% url 'accounts:logout' %}"><button>로그아웃</button></a>
                            <div>
                                <a href="{% url 'post:write' %}"><button onclick="location.href='recipeRegistration.html'">레시피 등록하기</button></a>
                            </div>
                        </div>

                        <div id="info2">
                            <h3>공지사항</h3>
                            <ul>
                                {% for notice in fix_notice %}
                                <li><a href="{% url 'post:noticeShow' notice.id %}">{{notice.title}}</a></li>
                                {% endfor %}

                                {% for notice in main_notice %}
                                <li><a href="{% url 'post:noticeShow' notice.id %}">{{notice.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <!--로그인전-->
                    {% else %}
                    <div class="user-info-section">
                        <div class="box1">
                            {% csrf_token %} 
                            <h2>LOGIN</h2>
                            <br>
                            <br>
                            <a href="{% url 'accounts:login' %}"><button>로그인</button></a>
                            {% comment %} onclick="location.href='login.html'" {% endcomment %}
                            <a href="{% url 'accounts:signup' %}"><button>회원가입</button></a>
                            {% comment %} onclick="location.href='signUp.html'" {% endcomment %}
                            <br>
                        </div>
                        <div id="info">
                            <h3>공지사항</h3>
                            <ul>
                                {% for notice in fix_notice %}
                                <li><a href="{% url 'post:noticeShow' notice.id %}">{{notice.title}}</a></li>
                                {% endfor %}

                                {% for notice in main_notice %}
                                <li><a href="{% url 'post:noticeShow' notice.id %}">{{notice.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                    </div>                     
                    {% endif %}

                </aside>
            </section>

            <br>
                    
            <section class="category-top">
                <div class="category">
                    <h3>HOT 한식 게시판</h3>
                    <ul>
                        {% for post in korea_hot_list %}
                        <li><a href="{% url 'post:show' post.id %}">{{post.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="category">
                    <h3>HOT 중식 게시판</h3>
                    <ul>
                        {% for post in china_hot_list %}
                        <li><a href="{% url 'post:show' post.id %}">{{post.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="category">
                    <h3>HOT 일식 게시판</h3>
                    <ul>
                        {% for post in japan_hot_list %}
                        <li><a href="{% url 'post:show' post.id %}">{{post.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </section>

            
        </main>
    </body>

</html>