<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>회원정보수정</title>
        {% load static %}
        <link rel="stylesheet" href ="{%static 'css/styles-membership.css' %}">
        <script>
            function handleSubmit(event) {
                event.preventDefault();
                alert('회원정보가 성공적으로 변경되었습니다!');
                window.location.href = 'main.html';
            }
        </script>
    </head>
    <body>
        <header>
            <div class="logo"><a href="{% url 'post:main' %}">
                <span class="blue">냉</span>Jango()</a>
            </div>
            <select id="search-type">
                <option value="all">전체</option>
                <option value="ingredient">재료</option>
                <option value="title">제목</option>
            </select>
            <div class="search-bar">
                <form method="POST" action="{% url 'post:search' %}">
                {% csrf_token %} 
                    <input type="text" placeholder="search" name="searched">
                    <button><img src="{% static 'image/search-icon.png' %}" alt="search"></button>
                </form>
            </div>
                
            <div class="menu-icon">
                <img src="{% static 'image/menu-icon.png' %}" alt="menu">
                <div class="dropdown-menu">
                    <a href="{% url 'post:list' category_name='koreapost' %}">한식</a>
                    <a href="{% url 'post:list' category_name='chinapost' %}">중식</a>
                    <a href="{% url 'post:list' category_name='japanpost' %}">일식</a>
                    <a href="infopost.html">공지사항</a>
                    <a href="{% url 'post:write' %}">레시피 등록</a>
                </div>
            </div>
        </header>
        <div class="container">
            <h2>회원 정보</h2>
            <form action="#">
                <label for="username">사용자 이름</label>
                <input type="text" id="username" name="username" placeholder="홍길동">

                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" value="">

                <label for="confirm_password">비밀번호 확인</label>
                <input type="password" id="confirm_password" name="confirm_password" value="">

                <div>
                    <span>성별</span>
                    <select name="gender">
                        <option>여성</option>
                        <option>남성</option>
                    </select>
                </div>

                <br>

                <div>
                    <span>거주지</span>
                    <select name="residence">
                        <option>자취</option>
                        <option>기숙사</option>
                        <option>본가</option>
                    </select>
                </div>
                <br>
                <label for="age">나이</label>
                <input type="age" id="age" name="age" value="">
                <label for="allergy">알러지</label>
                <input type="allergy" id="allergy" name="allergy" value="">
                <br>
                <button type="submit">저장</button>
            </form>
        </div>
    </body>
</html>