<html>

<head>
    <title>공지사항 페이지</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/styles-post-detail.css' %}">
    <!-- {% load static %}
    <link rel="stylesheet" href="styles-post-detail.css"> -->
    <script>
        function clip() {
            var url = '';
            var textarea = document.createElement("textarea");
            document.body.appendChild(textarea);
            url = 'window.location.href';
            textarea.value = url;
            textarea.select();
            document.execCommand("copy");
            document.body.removeChild(textarea);
            alert("링크가 복사되었습니다. 필요하신 곳에 붙여넣기 하세요!")
        };
        let isLoggedIn = false;
        function checklogin() {
            if (!isLoggedIn) {
                if (confirm("로그인이 필요합니다.")) {
                    window.location.href = "login.html"; // 로그인 페이지로 이동합니다.
                }
            }
            else {
                window.location.href = "recipeRegistration.html";
            }
        };
    </script>


</head>

<body>
    <header>
        <div class="logo">
            <span class="blue">냉</span>Jango()
        </div>
        <select id="search-type">
            <option value="all">전체</option>
            <option value="ingredient">재료</option>
            <option value="title">제목</option>
        </select>
        <div class="search-bar">
            <input type="text" placeholder="search">
            <button><img src="search-icon.png" alt="search"></button>
        </div>

        <div class="menu-icon">
            <img src="menu-icon.png" alt="menu">
            <div class="dropdown-menu">
                <a href="{% url 'post:list' category_name='koreapost' %}">한식</a>
                <a href="{% url 'post:list' category_name='chinapost' %}">중식</a>
                <a href="{% url 'post:list' category_name='japanpost' %}">일식</a>
                <a href="infopost.html">공지사항</a>
                <a href="{% url 'post:write' %}">레시피 등록</a>
            </div>
        </div>

    </header>

    <main>
        <section class="post-details">
            <h1>공지 제목 : {{ noticepost.title }}</h1>
            <h3>작성자 : {{ noticepost.writer }}</h3>
            {% comment %} <div class="likes">
                <button id="like-button">
                    <img src="like-icon.jpg" alt="Like">
                    <span class="likenum">00</span>
                </button>
            </div> {% endcomment %}
            <br>

            <div class="post-text">
                <p>내용</p>
                {{ noticepost.content }}
            </div>
            <br>

            <div class="button-container">
                {% if noticepost.writer == request.user %}
                    <a href="{% url 'noticepost:noticepost_updateget' noticepost.id %}"><button class="btn">수정하기</button></a>
                    <a href="/noticepost_deleteget/{{noticepost.id}}"><button class="btn">삭제하기</button></a>
                {% endif %}
            </div>

        </section>
    </main>


    <div id="comments">
        <h4>댓글 목록</h4>

        <!--댓글읽을 수 있는 부분-->
        {% if comments %}
        <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p><!-- 댓글 몇개있는지 보여줌. -->
        {% endif %}
        <ul><!-- 댓글 쭉 보여줌 -->
            {% for comment in comments %}
            <li>
                {{ comment.writer }} - {{ comment.comment }}<!-- '댓글 작성자 - 댓글 내용' 형식으로 댓글 나타냄 -->
                <!--댓글 삭제부분-->
                {% if comment.writer == request.user %}
                <form action="{% url 'noticepost:noticeComments_delete' noticepost.pk comment.pk %}" method="POST" class="d-inline">
                    <!-- 폼 건들지 말것. 클래스는 바꿔도 상관없음 -->
                    {% csrf_token %}
                    <input type="submit" value="DELETE"><!-- 댓글 삭제 버튼 -->
                </form>
                {% endif %}
            </li>
            {% empty %}
            <p>댓글이 없습니다.</p><!-- 댓글이 없을 때 나타나는 글 -->
            {% endfor %}
        </ul>

        <hr>

        <!--댓글 작성부분-->
        {% if request.user.is_authenticated %}
        <form action="{% url 'noticepost:noticeComments_create' noticepost.pk %}" method="POST">
            {% csrf_token %}
            {{ commentForm.as_p }}<!-- 댓글 작성 창(p태그로 감싸고 css 입히면 스타일 변경 가능)-->
            <input type="submit" value="댓글 작성"><!-- 댓글 작성 버튼 -->
        </form>
        {% else %}
        <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a><!-- 로그인 안하면 댓글작성기능 사용 불가 -->
        {% endif %}

    </div>


</body>

</html>