<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 등록</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/styles-notice-write.css' %}">
    <!-- {% load static %}
    <link rel="stylesheet" href="styles-notice-write.css"> -->
    <script>
        let isLoggedIn = false; 
        function checklogin() {
            if (!isLoggedIn) {
                if (confirm("로그인이 필요합니다.")) {
                    
                }
            }
        };
    </script>
    
       
</head>

<body>
    <header>
        <div class="logo"><a href="{% url 'post:main' %}">
            <span class="blue">냉</span>Jango() </a>
        </div>
        {% if user.is_authenticated %}
            <form method="POST" action="{% url 'post:notice_search' user.id %}">
                {% csrf_token %} 
                    
                <div class="search-bar">
                    {% comment %} <select id="search-type" name="search_select">
                        <option value="전체">전체</option>
                        <option value="제목">제목</option>
                        <option value="재료">재료</option>
                    </select> {% endcomment %}
                    <input type="text" placeholder="search" name="noticesearched">
                    <button><img src="{% static 'image/search-icon.png' %}" alt="search"></button>
                </div>
            </form>
    
            {% else %}
            <form method="POST" action="{% url 'post:notice_outsearch'%}">
            {% csrf_token %} 
                
                <div class="search-bar">
                    {% comment %} <select id="search-type" name="search_select">
                        <option value="전체">전체</option>
                        <option value="제목">제목</option>
                        <option value="재료">재료</option>
                    </select> {% endcomment %}
                    <input type="text" placeholder="search" name="noticesearched">
                    <button><img src="{% static 'image/search-icon.png' %}" alt="search"></button>
                </div>
            </form>
            {%endif%}
            
        <div class="menu-icon">
            <img src="{% static 'image/menu-icon.png' %}" alt="menu">
            <div class="dropdown-menu">
                <a href="{% url 'post:list' category_name='koreapost' %}">한식</a>
                <a href="{% url 'post:list' category_name='chinapost' %}">중식</a>
                <a href="{% url 'post:list' category_name='japanpost' %}">일식</a>
                <a href="{% url 'post:noticelist' %}">공지사항</a>
                <a href="{% url 'post:write' %}">레시피 등록</a>
            </div>
        </div>
        
    </header>
    
    <main>
        <section class="post-form">
            <h2>공지사항 등록</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="notice-name">제목</label>
                    {{ noticeform.title }}
                </div>
                <div class="form-group">
                    <label></label>
                    <select>
                        <option value="fixed-notice">고정공지</option>
                        <option value="notice">일반공지</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="notice-text">내용</label>
                    {{ noticeform.content }}
                </div>
                <div class="form-group">
                    <button type="submit">공지 등록</button>
                </div>
            </form>
        </section>


    </main>
    
        
    
</body>

</html>