<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>공지사항 게시판</title>
        {% load static %}
        <link rel="stylesheet" href="{%static 'css/styles-post.css' %}">
        
    <script>
        let isLoggedIn = false;
        function checklogin() {
            if (!isLoggedIn) {
                if (confirm("로그인이 필요합니다.")) {
                    window.location.href = "login.html"; // 로그인 페이지로 이동합니다.
                }
            }
            else {
                window.location.href = "recipeRegistration.html";
            }
        };
    </script>
    
    
    </head>
    
    <body>
        <header>
            <div class="logo"><a href="{% url 'post:main' %}">
                <span class="blue">냉</span>Jango() </a>
            </div>
            <select id="search-type">
                <option value="all">전체</option>
                <option value="ingredient">재료</option>
                <option value="title">제목</option>
            </select>
            <div class="search-bar">
                <form method="POST" action="{% url 'post:search' user.id %}">
                    {% csrf_token %} 
                        <input type="text" placeholder="search" name="searched">
                        <button><img src="{% static 'image/search-icon.png' %}" alt="search"></button>
                    </form>
            </div>
    
            <div class="menu-icon">
                <img src="{% static 'image/menu-icon.png' %}" alt="menu">
                <div class="dropdown-menu">
                    <a href="{% url 'post:list' category_name='koreapost' %}">한식</a>
                    <a href="{% url 'post:list' category_name='chinapost' %}">중식</a>
                    <a href="{% url 'post:list' category_name='japanpost' %}">일식</a>
                    <a href="notice.html">공지사항</a>
                    <a href="{% url 'post:write' %}">레시피 등록</a>
                </div>
            </div>
    
        </header>
        <h1>공지사항</h1>
        {% if request.user.is_superuser %}
            <a href="{% url 'post:noticeWrite' %}"><button>공지사항 등록</button></a>
        {% endif %}
        <br>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>작성 시간</th>
                        <th>최종 수정</th>
                    </tr>
                </thead>
                <tbody>
                    {% csrf_token %}
                    {% for noticepost in noticelist %}
                    <tr class ="fixed">
                        <td><a href="{% url 'post:noticeShow' noticepost.id %}">{{ noticepost.title }}</a></td>
                        <td>{{ noticepost.writer }}</td>
                        <td>{{ noticepost.created_at }}</td>
                        <td>
                        {% if noticepost.updated_at != noticepost.created_at %}
                            {{ noticepost.updated_at }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                
                    <!-- 추가적인 레시피 항목들을 필요에 따라 추가할 수 있습니다 -->
                </tbody>
            </table>
        </div>
        <br>
        <div>
            <!-- 페이징처리 시작 -->
            <ul class="pagination justify-content-center">
                <!-- 이전페이지 -->
                {% if noticelist.has_previous %}<!--이전페이지가 있을 때 이전 버튼 활성화-->
                    <li class="page-item">
                        <a class="page-link" href="?page={{ noticelist.previous_page_number }}">이전</a>
                    </li>
                {% else %}<!--이전페이지 없으면 이전 버튼 비활성화-->
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                    </li>
                {% endif %}
                <!-- 페이지리스트(페이지번호) -->
                {% for page_number in noticelist.paginator.page_range %}
                {% if page_number >= noticelist.number|add:-5 and page_number <= noticelist.number|add:5 %}
                {% if page_number == noticelist.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                {% endif %}
                {% endif %}
                {% endfor %}
                    <!-- 다음페이지 -->
                {% if noticelist.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ noticelist.next_page_number }}">다음</a><!--다음페이지가 있을 때 다음 버튼 활성화-->
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a><!--다음페이지가 없을 때 다음 버튼 비활성화-->
                    </li>
                {% endif %}
            </ul>
            <!-- 페이징처리 끝 -->
    </body>
</html>