<html>
    <head>
        <title>레시피 페이지</title>
        {% load static %}
        <title>{{ post.title }}</title>
        <link rel="stylesheet" href="{%static 'css/styles-recipepage.css' %}">
        <script>
            function clip() {
                var url = '';
                var textarea = document.createElement("textarea");
                document.body.appendChild(textarea);
                url = 'window.location.href';
                textarea.value = url;
                textarea.select();
                document.execCommand("copy");
                document.body.removeChild(textarea);
                alert("링크가 복사되었습니다. 필요하신 곳에 붙여넣기 하세요!")
            };
            let isLoggedIn = false; 
        function checklogin() {
            if (!isLoggedIn) {
                if (confirm("로그인이 필요합니다.")) {
                    window.location.href = "login.html"; // 로그인 페이지로 이동합니다.
                }
            }
            else{
                window.location.href="recipeRegistration.html";
            }
        };
        
        </script>
        

    </head>
    <body>
        <header>
            <div class="logo"><a href="{% url 'post:main' %}">
                <span class="blue">냉</span>Jango() </a>
            </div>
            {% if user.is_authenticated %}
            <form method="POST" action="{% url 'post:search' user.id %}">
                {% csrf_token %} 
                    
                <div class="search-bar">
                    <select id="search-type" name="search_select">
                        <option value="전체">전체</option>
                        <option value="제목">제목</option>
                        <option value="재료">재료</option>
                    </select>
                    <input type="text" placeholder="search" name="searched">
                    <button><img src="{% static 'image/search-icon.png' %}" alt="search"></button>
                </div>
            </form>
    
            {% else %}
            <form method="POST" action="{% url 'post:outsearch'%}">
            {% csrf_token %} 
                
                <div class="search-bar">
                    <select id="search-type" name="search_select">
                        <option value="전체">전체</option>
                        <option value="제목">제목</option>
                        <option value="재료">재료</option>
                    </select>
                    <input type="text" placeholder="search" name="searched">
                    <button><img src="{% static 'image/search-icon.png' %}" alt="search"></button>
                </div>
            </form>
            {%endif%}

                
            <div class="menu-icon">
                <img src="{% static 'image/menu-icon.png' %}" alt="menu">
                <div class="dropdown-menu">
                    <a href="{% url 'post:list' category_name='koreapost' %}">한식</a>
                    <a href="{% url 'post:list' category_name='chinapost' %}">중식</a>
                    <a href="{% url 'post:list' category_name='japanpost' %}">일식</a>
                    <a href="noticelist/">공지사항</a>
                    <a>사용자 게시판</a>
                    <a href="{% url 'post:write' %}">레시피 등록</a>
                </div>
            </div>
            
        </header>


    <br>

       
        <main>
            <section class="recipe-details">
                <h1>레시피 이름 : {{ post.title }}</h1>
                <p>작성자 : {{ post.writer }}</p>
                <div id="date">
                    <p>작성 시간 : {{ post.created_at }}</p>
                    {% if post.updated_at != post.created_at %}
                    <p>최종 수정 : {{ post.updated_at }}</p>
                    {% endif %}
                </div>
                
                <div class="recipe-image">
                    {% for image in images %}
                        <p><img src="{{image.image.url}}" alt="Image"></p>
                    {%endfor%}
                </div>
                <div class="likes">
                    <div id="like-button">
                        <img src="{% static 'image/like-icon.jpg' %}" alt="Like">
                        <br>
                        <form action="{% url 'post:likes' post.pk %}" method='POST'>
                            {% csrf_token %}
                            {% if user in post.like_users.all %}
                                <input type="submit" value="좋아요 취소">
                            {% else %}
                                <input type="submit" value="좋아요">
                            {% endif %}
                            
                        </form>
                    </div>
                </div>
                <br>
                <div class="recipe-info">
                    <p><strong>조리 시간:</strong> {{ post.cooktime }}분</p>
                    <p><strong>좋아요 수:</strong> {{ post.like_users.count }}</p>
                    <p><strong>종류:</strong> {{ post.category }}</p>
                </div>
                <div class="recipe-ingredients">
                    <h2>재료</h2>
                    {{ post.ingredient }}
                </div>
                <div class="recipe-instructions">
                    <h2>만드는 방법</h2>
                    {{ post.cookmethod }}
                </div>
                <div class="button-container">
                    {% if post.writer == request.user %}
                        <a href="{% url 'post:updateget' post.id %}"><button class="btn">수정하기</button></a><br>
                        <a href="{% url 'post:deleteget' post.id post.category.name %}"><button class="btn">삭제하기</button></a><br>
                    {% endif %}
                </div>
                <button id="link" onclick="clip()">링크 복사</button>
            </section>
        </main>
        
        
        <div id="comments">
            <h4>댓글 목록</h4>
            
            <!--댓글읽을 수 있는 부분-->
            {% if comments %}
            <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p><!-- 댓글 몇개있는지 보여줌. -->
            {% endif %}
            <ul><!-- 댓글 쭉 보여줌 -->
                {% for comment in comments %}
                <li>
                    {{ comment.writer }} - {{ comment.comment }}<!-- '댓글 작성자 - 댓글 내용' 형식으로 댓글 나타냄 -->
                    <!--댓글 삭제부분-->
                    {% if comment.writer == request.user %}
                    <form action="{% url 'post:comments_delete' post.pk comment.pk %}" method="POST" class="d-inline">
                        <!-- 폼 건들지 말것. 클래스는 바꿔도 상관없음 -->
                        {% csrf_token %}
                        <input type="submit" value="댓글 삭제"><!-- 댓글 삭제 버튼 -->
                    </form>
                    {% endif %}
                </li>
                {% empty %}
                <p>댓글이 없습니다.</p><!-- 댓글이 없을 때 나타나는 글 -->
                {% endfor %}
            </ul>
            
            <hr>
            
            <!--댓글 작성부분-->
            {% if request.user.is_authenticated %}
            <form action="{% url 'post:comments_create' post.pk %}" method="POST">
                {% csrf_token %}
                {{ commentForm.as_p }}<!-- 댓글 작성 창(p태그로 감싸고 css 입히면 스타일 변경 가능)-->
                <input type="submit" value="댓글 작성"><!-- 댓글 작성 버튼 -->
            </form>
            {% else %}
            <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a><!-- 로그인 안하면 댓글작성기능 사용 불가 -->
            {% endif %}
            {% comment %} {% endblock content %} {% endcomment %}

        </div>
        

    </body>

</html>