<!DOCTYPE html>
<html lang="ko">

<head>
    <title>사용자 게시판</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/styles-post.css' %}">
    <!-- {% load static %}
    <link rel="stylesheet" href="styles-post.css"> -->
    <script>
        let isLoggedIn = false;
        function checklogin() {
            if (!isLoggedIn) {
                if (confirm("로그인이 필요합니다.")) {
                    window.location.href = "login.html"; // 로그인 페이지로 이동합니다.
                }
            }
            else {
                window.location.href = "recipeRegistration.html";
            }
        };
    </script>


</head>

<body>
    <header>
        <div class="logo"><a href="{% url 'post:main' %}">
            <span class="blue">냉</span>Jango() </a>
        </div>
        <form method="POST" action="{% url 'post:user_search' user.id %}">
            {% csrf_token %} 
                
            <div class="search-bar">
                <select id="search-type" name="usersearch_select">
                    <option value="전체">전체</option>
                    <option value="제목">제목</option>
                    <option value=-"내용">내용</option>
                </select>
                <input type="text" placeholder="search" name="usersearched">
                <button><img src="{% static 'image/search-icon.png' %}" alt="search"></button>
            </div>
        </form>

        <div class="menu-icon">
            <img src="{% static 'image/menu-icon.png' %}" alt="menu">
            <div class="dropdown-menu">
                <a href="{% url 'post:list' category_name='koreapost' %}">한식</a>
                <a href="{% url 'post:list' category_name='chinapost' %}">중식</a>
                <a href="{% url 'post:list' category_name='japanpost' %}">일식</a>
                <a href="{% url 'post:noticelist' %}">공지사항</a>
                <a href="{% url 'post:write' %}">레시피 등록</a>
            </div>
        </div>

    </header>
    <br>
    <h1>사용자 게시판</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'post:userWrite' %}"><button class="btn">글 작성</button></a>
        {%else%}
        <a href="javascript:void(0);" onclick="checklogin()"><button class="btn">글 작성</button></a>
        {%endif%}

    <br>
    <div class="container">
        <table>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var rows = document.querySelectorAll('tr[data-href]');
                    rows.forEach(function (row) {
                        row.addEventListener('click', function () {
                            window.location.href = this.dataset.href;
                        });
                    });
                });
            </script>
            <thead>
                <tr>
                    <th>NO.</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>작성 시간</th>
                    <th>최종 수정</th>
                    <th>좋아요</th>
                    <th>댓글 수</th>
                </tr>
            </thead>
            <tbody>
                {% csrf_token %}
                {% for userpost in userlist %}
                <tr class ="fixed" data-href="{% url 'post:userShow' userpost.id %}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ userpost.title }}</td>
                    <td>{{ userpost.writer }}</td>
                    <td>{{ userpost.created_at }}</td>
                    <td>{{ userpost.updated_at }}</td>
                    <td>{{ userpost.like_users.all.count }}</td>
                    <td>{{ userpost.usercomment_count }}</td>
                </tr>
                {% endfor %}
            
                <!-- 추가적인 레시피 항목들을 필요에 따라 추가할 수 있습니다 -->
            </tbody>
        </table>
    </div>
    <br>
    <div>
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if userlist.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ userlist.previous_page_number }}">이전</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in userlist.paginator.page_range %}
            {% if page_number >= userlist.number|add:-5 and page_number <= userlist.number|add:5 %}
            {% if page_number == userlist.number %}
                <li class="page-item active" aria-current="page">{#구분을 위해  누른 번호가 파랑으로 보임#}
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
            {% endif %}
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if userlist.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ userlist.next_page_number }}">다음</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
            {% endif %}
        </ul>
        <!-- 페이징처리 끝 -->
    </div>
    
</body>

</html>