<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 등록</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/styles-post-write.css' %}">
    <!-- {% load static %}
    <link rel="stylesheet" href="styles-post-write.css"> -->
    <script>
        let isLoggedIn = false; 
        function checklogin() {
            if (!isLoggedIn) {
                if (confirm("로그인이 필요합니다.")) {
                    window.location.href = "login.html"; // 로그인 페이지로 이동합니다.
                }
            }
            else{
                window.location.href="recipeRegistration.html";
            }
        };
    </script>
    
       
</head>

<body>
    <header>
        <div class="logo"><a href="{% url 'post:main' %}">
            <span class="blue">냉</span>Jango() </a>
        </div>
        <select id="search-type">
            <option value="all">전체</option>
            <option value="ingredient">재료</option>
            <option value="title">제목</option>
        </select>
        <div class="search-bar">
            <form method="POST" action="{% url 'post:search' %}">
                {% csrf_token %} 
                    <input type="text" placeholder="search" name="searched">
                    <button><img src="{% static 'image/search-icon.png' %}" alt="search"></button>
                </form>
        </div>
            
        <div class="menu-icon">
            <img src="menu-icon.png" alt="menu">
            <div class="dropdown-menu">
                <a href="{% url 'post:list' category_name='koreapost' %}">한식</a>
                <a href="{% url 'post:list' category_name='chinapost' %}">중식</a>
                <a href="{% url 'post:list' category_name='japanpost' %}">일식</a>
                <a href="infopost.html">공지사항</a>
                <a href="{% url 'post:write' %}">레시피 등록</a>
            </div>
        </div>
        
    </header>
    
    <main>
        <section class="post-form">
            <h2>게시글 등록</h2>
            <form action="submit-notice.php" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    {% csrf_token %}
                    <label for="notice-name">제목</label>
                    {{ userform.title }}
                </div>
                <br>
                <div class="form-group">
                    <label for="notice-text">내용</label>
                    {{ userform.content }}
                </div>
                <div class="form-group">
                    <button type="submit">등록</button>
                </div>
            </form>
        </section>
    </main>
    
        
    
</body>

</html>