/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    text-align:center;
    width: 960px;
    overflow-x: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration-line: none;
    text-decoration-color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: blue;
}



.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.logo .blue {
    color: blue;
}

#search-type {
    margin-top: 6px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
}

#search-type option {
    background-color: #fff;
}


.search-bar {
    padding-top: 6px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 20px;
}

.search-bar input {
    width: 500px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.search-bar button img {
    margin-top: 3px;
    width: 30px;
    height: 30px;
}

.menu-icon {
    position: relative;
    display: inline-block;
}

.menu-icon img {
    margin-top: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 150px;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.menu-icon:hover .dropdown-menu {
    display: block;
}


/*--여기까지 헤더--*/

.login-box {
    width: 250px;
    height:auto;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
}

.login-box form {
    display: flex;
    flex-direction: column;
}

.login-box input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-box button:hover {
    background-color: #111;
}

.login-box a {
    display: block;
    text-align: center;
    color: #333;
    text-decoration: none;
}

.login-box a:hover {
    text-decoration: underline;
}


.center {
    padding:5px;
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 10%;
    margin: auto;
}