/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 960px;
    overflow-x: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

a {
    text-decoration-line: none;
    text-decoration-color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: blue;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.logo .blue {
    color: blue;
}

#search-type {
    margin-top: 2px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
}

#search-type option {
    background-color: #fff;
}


.search-bar {
    padding-top: 6px;
    
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 20px;
}

.search-bar input {
    width: 590px;
    margin-top:2px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.search-bar button img {
    margin-top: 3px;
    width: 30px;
    height: 30px;
}

.menu-icon {
    position: relative;
    display: inline-block;
}

.menu-icon img {
    margin-top: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 150px;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.menu-icon:hover .dropdown-menu {
    display: block;
}


/*--여기까지 헤더--*/

.containers {
    display: flex;
    width:760px;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px 10px 50px;
    padding: 50px;
    border-radius: 5px;
    background-color: #f1f1f1;
    border: 2px solid #f1f1f1;

}

.info-box{
    background-color: #ffffff;
    text-align: left;
    height: 330px;
    width: 300px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 20px 40px 10px 40px;
    width: 250px;
    text-align: center;

}


.details-box {
    background-color: #ffffff;
    text-align: left;
    height:330px;
    border: 1px solid #ffffff;
    border-radius:5px;
    padding: 20px 40px 10px 40px;
    width: 250px;
    text-align: center;
}
.info1{
    text-align:center;
    height:220px;
    font-size: 30px;
}
.info2{
    text-align: left;
    
    height:220px;
}
.info2 span{
    margin-top:20px;
}
li{
    width:50px;
}

#button {
    margin-top: 20px;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #000000;
    border-radius: 5px;
    border: #000000;
    cursor: pointer;
}

#button:hover {
    background-color: #e0e0e0;
}

#allergy{
    padding:10px;
    background-color: #ffffff;
    border:1px solid #e0e0e0;
    border-radius:5px;
    height:110px;
    overflow-y:scroll;
}