/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 960px;
    overflow-x: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

a {
    text-decoration-line: none;
    text-decoration-color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: blue;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.logo .blue {
    color: blue;
}

#search-type {
    margin-top: 0px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
}

#search-type option {
    background-color: #fff;
}


.search-bar {
    padding-top: 6px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 20px;
}

.search-bar input {
    width: 590px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.search-bar button img {
    margin-top: 3px;
    width: 30px;
    height: 30px;
}

.menu-icon {
    position: relative;
    display: inline-block;
}

.menu-icon img {
    margin-top: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 150px;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.menu-icon:hover .dropdown-menu {
    display: block;
}


/*--여기까지 헤더--*/


.container {
    margin: 0 auto;
    max-width: 1000px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: #f5f5f5;
}

@media (max-width: 600px) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    th,
    td {
        box-sizing: border-box;
        width: 100%;
    }

    tr {
        margin-bottom: 10px;
    }
}

.fixed {
    color: black;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: not-allowed;
}

.page-item.active .page-link {
    color: white;
    background-color: #007bff;
    border-color: #007bff;
}

.btn {
    background-color: #696969;
    border-radius: 5px;
    padding: 10px 13px 10px 13px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #353535;
}