<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>회원가입</title>
        {% load static %}
        <link rel="stylesheet" href="{%static 'css/styles-signUp.css' %}">
        <script>
            let isLoggedIn = false; 
            function checklogin() {
                if (!isLoggedIn) {
                    if (confirm("로그인이 필요합니다.")) {
                        window.location.href = "login.html"; // 로그인 페이지로 이동합니다.
                    }
                }
                else{
                    window.location.href="recipeRegistration.html";
                }
            };
        </script>
        
        
    </head>

    <body>
        {% load bootstrap4 %}
        {% block content %}
        <header>
            <div class="logo">
                <span class="blue">냉</span>Jango()
            </div>
            <select id="search-type">
                <option value="all">전체</option>
                <option value="ingredient">재료</option>
                <option value="title">제목</option>
            </select>
            <div class="search-bar">
                <input type="text" placeholder="search">
                <button><img src="{% static 'image/search-icon.png' %}" alt="search"></button>
            </div>
                
            <div class="menu-icon">
                <img src="{% static 'image/menu-icon.png' %}" alt="menu">
                <div class="dropdown-menu">
                    <a href="koreapost.html">한식</a>
                    <a href="chinapost.html">중식</a>
                    <a href="japanpost.html">일식</a>
                    <a href="infopost.html">공지사항</a>
                    <a onclick="checklogin()">레시피 등록</a>
                </div>
            </div>
            
        </header>
        <br>
        <h2>회원가입</h2> 
        <form method="POST" id="signUp-pt-1" class="login-box">
            {% csrf_token %} 
            <br>
            <input type="text" name="username" placeholder="아이디" required>
            <br>
            <input type="password" name="password1" placeholder="패스워드" required>
            <br>
            <input type="password" name="password2" placeholder="패스워드 확인" required>
            <!-- 이름 값 때문에 (password -> password1) / (password-confirm -> password2)로 변경했습니다. -->
            <br>
            <!-- 아래 버튼 누르면 accInfo.html로 넘어가게 연결 필요 -->
            <button type="submit">회원가입</button>
        
        </form>
        {% endblock %}
    </body>
</html>